@charset "utf-8";html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,select {
    vertical-align: middle
}

body {
    font: 13px/1.231 sans-serif;
    *font-size: small
}

select,input,textarea,button {
    font: 99% sans-serif
}

pre,code,kbd,samp {
    font-family: monospace,sans-serif
}

body,select,input,textarea {
    color: #444
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold
}

html {
    overflow-y: scroll
}

a:hover,a:active {
    outline: none
}

a,a:active,a:visited {
    color: #607890
}

a:hover {
    color: #036
}

ul,ol {
    margin-left: 1.8em
}

ol {
    list-style-type: decimal
}

small {
    font-size: 85%
}

strong,th {
    font-weight: bold
}

td, td img {
    vertical-align: top
}

sub {
    vertical-align: sub;
    font-size: smaller
}

sup {
    vertical-align: super;
    font-size: smaller
}

pre {
    padding: 15px;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word
}

textarea {
    overflow: auto
}

.ie6 legend, .ie7 legend {
    margin-left: -7px
}

input[type="radio"] {
    vertical-align: text-bottom
}

input[type="checkbox"] {
    vertical-align: bottom
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline
}

.ie6 input {
    vertical-align: text-bottom
}

label,input[type=button],input[type=submit],button {
    cursor: pointer
}

button,input,select,textarea {
    margin: 0
}

input:valid,textarea:valid {
}

input:invalid,textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow: 0px 0px 5px red
}

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
    background-color: #f0dddd
}

::-moz-selection {
    background: #333;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none
}

a:link {
    -webkit-tap-highlight-color: #FF5E99
}

button {
    width: auto;
    overflow: visible
}

.ie7 img {
    -ms-interpolation-mode: bicubic
}

.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr
}

.hidden {
    display: none;
    visibility: hidden
}

.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px)
}

.invisible {
    visibility: hidden
}

.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom:1}

html {
    height: 100%
}

body {
    height: 100%;
    image-rendering: -webkit-optimize-contrast
}

body.munsell {
    overflow: hidden
}

.altText {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 1px
}

#mask {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%
}

#mask a {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: default
}

#bgWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../../../../public/images/texture.png);
    -webkit-transition: background-color 2s ease-in
}

#gloss {
    position: fixed;
    width: 100%;
    height: 478px;
    background: url(../../../../public/images/gloss.png) repeat-x
}

#container {
    position: relative;
    width: 960px;
    height: 100%;
    margin: 0 auto
}

#logo {
    position: absolute;
    left: 909px
}

h1 {
    position: fixed;
    z-index: 100;
    top: -7px;
    width: 58px;
    height: 231px;
}

#controller {
    position: absolute;
    top: 272px;
    right: 10px;
    width: 23px
}

#switch {
    position: fixed;
    z-index: 500;
    height: 23px;
    margin-top: 72px;
    margin-left: 23px;
    padding-left: 55px;
    background: url(../../../../public/images/switch_ttl.png) no-repeat;
    opacity: 1;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    -webkit-transition: opacity 0.2s linear
}

#switch.progress {
    opacity: 0.3
}

#E {
    position: fixed;
    z-index: 10000;
    margin-top: 224px;
    width: 23px;
    height: 23px
}

#E a {
    position: relative;
    width: 23px;
    height: 23px;
    background: url(../../../../public/images/txt.png) 0 -51px no-repeat
}

#E a:hover {
    background-position: -23px -51px
}

#safari {
    position: fixed;
    z-index: 10000;
    margin-top: 0px
}

#safari a {
    position: relative;
    z-index: 1100;
    width: 23px;
    height: 23px
}

#safari a span {
    position: absolute;
    top: -11px;
    left: -180px;
    opacity: 0;
    visibility: hidden;
    width: 175px;
    height: 23px;
    background: url(../../../../public/images/txt.png) -46px -51px no-repeat;
    -webkit-transition: opacity 0.2s linear
}

#safari a:hover span {
    visibility: visible;
    opacity: 1
}

#data {
    position: absolute;
    left: 504px;
    top: 40px;
    height: 507px;
    width: 456px
}

h2 {
    position: fixed;
    z-index: 300;
    width: 440px;
    height: 471px;
    margin: 26px 0 0 16px
}

#colorTitle {
    width: 440px;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-mask-image: url(../../../../public/images/mask_h2.png);
    -webkit-mask-position-y: 0px;
    -webkit-mask-repeat: repeat-x
}

@-webkit-keyframes 'h2-fadeOut' {
    0% {
        -webkit-mask-position-y: 0px
    }

    100% {
        -webkit-mask-position-y: -696px
    }
}

#colorTitle.fadeOut {
    -webkit-animation-name: 'h2-fadeOut';
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in
}

@-webkit-keyframes 'h2-fadeIn' {
    0% {
        -webkit-mask-position-y: -696px
    }

    100% {
        -webkit-mask-position-y: 0
    }
}

#colorTitle.fadeIn {
    -webkit-animation-name: 'h2-fadeIn';
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-out
}

h2 .comma {
    display: none
}

#colorRuby {
    display: block;
    width: 440px;
    padding-top: 24px;
    text-align: center;
    color: #FFF;
    font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    vertical-align: bottom;
    -webkit-transition: top 2.5s ease-in;
    -webkit-font-smoothing: antialiased
}

#colorRuby.fadeOut {
    -webkit-animation-name: 'ruby-fadeOut';
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear
}

@-webkit-keyframes 'ruby-fadeOut' {
    0% {
        opacity: 1
    }

    66% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

#colorRuby.fadeIn {
    -webkit-animation-name: 'ruby-fadeIn';
    -webkit-animation-duration: 2.5s;
    -webkit-animation-timing-function: ease-in
}

@-webkit-keyframes 'ruby-fadeIn' {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#colorBox {
    position: fixed;
    z-index: 500;
    width: 100px;
    margin-left: 0;
    background: url(../../../../public/images/bdr_w_50.png) left top no-repeat;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 1s ease-in-out
}

#colorBox.munsell {
    -webkit-transform: translate3d(-494px,0,0)
}

#CMYKcolor {
    width: 50px
}

#CMYKcolor dt {
    width: 10px;
    height: 9px;
    margin: 10px 0 6px 0;
    background: url(../../../../public/images/txt.png) no-repeat
}

#CMYKcolor dt.c {
    background-position: 0 0
}

#CMYKcolor dt.m {
    background-position: -10px 0
}

#CMYKcolor dt.y {
    background-position: -20px 0
}

#CMYKcolor dt.k {
    background-position: -30px 0
}

#CMYKcolor dd {
    position: relative;
    height: 50px;
    overflow: hidden;
    padding: 0 0 11px 0;
    background: url(../../../../public/images/bdr_w_50.png) left bottom no-repeat;
    text-align: center;
    vertical-align: middle;
    font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
    font-size: 24px;
    font-weight: 300
}

#CMYKcolor dd.c {
    color: #0093D3
}

#CMYKcolor dd.c ::selection {
    background: #0093D3
}

#CMYKcolor dd.m {
    color: #CC006B
}

#CMYKcolor dd.m ::selection {
    background: #CC006B
}

#CMYKcolor dd.y {
    color: #FFF10C
}

#CMYKcolor dd.y ::selection {
    background: #FFF10C
}

#CMYKcolor dd.k {
    color: #333
}

#CMYKcolor dd.k ::selection {
    background: #000
}

#CMYKcolor dd .cont {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    z-index: 500
}

#CMYKcolor dd .circle {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../../../public/images/circle.png) no-repeat
}

#CMYKcolor dd .r, #CMYKcolor dd .l {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px
}

#CMYKcolor dd .r {
    -webkit-mask-image: url(../../../../public/images/circle_r.png)
}

#CMYKcolor dd .l {
    -webkit-mask-image: url(../../../../public/images/circle_l.png)
}

#CMYKcolor dd .r .line, #CMYKcolor dd .l .line {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../../../../public/images/colorBox.png);
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 0.5s linear
}

#CMYKcolor dd.c .r .line {
    -webkit-transform: rotate(7.2deg);
    background-position: 0 0
}

#CMYKcolor dd.c .l .line {
    -webkit-transform: rotate(180deg);
    background-position: 0 0
}

#CMYKcolor dd.m .r .line {
    -webkit-transform: rotate(162deg);
    background-position: 0 -50px
}

#CMYKcolor dd.m .l .line {
    -webkit-transform: rotate(180deg);
    background-position: 0 -50px
}

#CMYKcolor dd.y .r .line {
    -webkit-transform: rotate(10.8deg);
    background-position: 0 -100px
}

#CMYKcolor dd.y .l .line {
    -webkit-transform: rotate(180deg);
    background-position: 0 -100px
}

#CMYKcolor dd.k .r .line {
    -webkit-transform: rotate(0deg);
    background-position: 0 -150px
}

#CMYKcolor dd.k .l .line {
    -webkit-transform: rotate(180deg);
    background-position: 0 -150px
}

#RGBcolor {
    position: relative;
    width: 236px
}

#RGBcolor dt {
    width: 10px;
    height: 9px;
    margin: 10px 0 6px 0;
    background: url(../../../../public/images/txt.png) no-repeat
}

#RGBcolor dt.r {
    background-position: -40px 0
}

#RGBcolor dt.g {
    background-position: -50px 0
}

#RGBcolor dt.b {
    background-position: -60px 0
}

#RGBcolor dd {
    position: relative;
    z-index: 500;
    width: 50px;
    height: 24px;
    overflow: hidden;
    padding: 0 1px 11px 1px;
    background: url(../../../../public/images/bdr_w_50.png) left bottom no-repeat;
    line-height: 100%;
    text-align: right;
    font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #FFF
}

#RGBcolor dd.r ::selection {
    background: #F00
}

#RGBcolor dd.g ::selection {
    background: #0F0
}

#RGBcolor dd.b ::selection {
    background: #00F
}

#RGBvalue {
    position: absolute;
    left: 60px;
    top: 50px;
    width: 147px;
    height: 61px;
    padding: 0 10px 0 19px;
    overflow: hidden;
    background: url(../../../../public/images/txt.png) -58px -74px no-repeat;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear
}

#RGBcolor:hover #RGBvalue {
    opacity: 1
}

#RGBvalue input {
    width: 147px;
    height: 61px;
    border: none;
    background: transparent;
    margin: 0 0 0 0;
    padding: 0;
    vertical-align: middle;
    font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
    font-size: 21px;
    text-align: center;
    -webkit-transition: opacity 0.2s linear;
    color: #FFF;
    cursor: pointer
}

#RGBvalue input ::selection {
    background: #F00
}

#colorContainer {
    width: 100%;
    -webkit-perspective: 500;
    -webkit-transition: -webkit-perspective 3s ease-in-out
}

body.munsell #colorContainer {
    width: 100%;
    height: 100%
}

#colors {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -23px;
    top: 0;
    margin-top: 0;
    -webkit-transform-style: preserve-3d
}

body.munsell #colors {
    left: 50%;
    top: 100%;
    -webkit-transform-origin: 0 -50%;
    -webkit-animation-name: 'color-rotate';
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear
}

@-webkit-keyframes 'color-rotate' {
    0% {
        -webkit-transform: rotateX( 0deg) rotateY( 0deg)
    }

    25% {
        -webkit-transform: rotateX( 90deg) rotateY(180deg)
    }

    50% {
        -webkit-transform: rotateX(180deg) rotateY(360deg)
    }

    75% {
        -webkit-transform: rotateX(270deg) rotateY(540deg)
    }

    100% {
        -webkit-transform: rotateX(360deg) rotateY(720deg)
    }
}

#colors li {
    position: absolute;
    width: 50px;
    height: 40px;
    background-image: url(../../../../public/images/col_num.png);
    background-repeat: no-repeat;
    list-style: none
}

body.munsell #colors li {
    left: -25px;
    top: -139px
}

#colors li div {
    background: url(../../../../public/images/col_bg.png) no-repeat
}

#col246 div {
    padding-bottom: 40px
}

#col247 div {
    padding-bottom: 40px
}

#col248 div {
    padding-bottom: 40px
}

#col249 div {
    padding-bottom: 40px
}

#col250 div {
    padding-bottom: 40px
}

body.munsell #colors li div {
    display: none
}

#colors li a {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    font-size: 1px;
    width: 50px;
    height: 278px;
    background-color: #FFF;
    -webkit-transition: background-color 0.15s linear;
    -webkit-mask-image: url(../../../../public/images/col.png);
    -webkit-mask-repeat: no-repeat
}

#col001 a {
    -webkit-tap-highlight-color: #DC9FB4
}

footer {
    position: absolute;
    left: 504px;
    margin-top: 720px;
    width: 446px
}

footer .cont {
    position: fixed;
    margin-top: 36px;
    width: 446px
}

#copy {
    float: left;
    width: 405px;
    height: 10px;
    margin: 2px 5px 0 160px;
    color: #FFF;
    font-size: 10px;
}

#copy a {
    color:black;
    margin-left: 4px;
}

#heteml {
    float: left;
    width: 101px
}

#heteml a {
    width: 101px;
    height: 10px;
    background: url(../../../../public/images/txt.png) 0 -41px no-repeat
}

#heteml a:hover {
    background-position: 0 -31px
}

#cite {
    position: fixed;
    width: 430px;
    height: 12px;
    margin: 52px 0 0 0;
}


#c .ant-progress-circle-path {
    stroke: #0093D3
}

#c .ant-progress-text {
    color: #0093D3
}

#m .ant-progress-circle-path {
    stroke: #CC006B
}

#m .ant-progress-text {
    color: #CC006B
}

#y .ant-progress-circle-path {
    stroke: #FFF10C
}

#y .ant-progress-text {
    color: #FFF10C
}

#k .ant-progress-circle-path {
    stroke: #333
}

#k .ant-progress-text {
    color: #333
}

body.munsell #col001 {
    -webkit-transform: rotateY(253.8deg) translateY( -700px) translateZ( 300px)
}


body.munsell #col002 {
    -webkit-transform: rotateY(225.0deg) translateY( -600px) translateZ( 500px)
}


body.munsell #col003 {
    -webkit-transform: rotateY(225.0deg) translateY( -350px) translateZ( 400px)
}


body.munsell #col004 {
    -webkit-transform: rotateY(270.0deg) translateY( -850px) translateZ( 200px)
}


body.munsell #col005 {
    -webkit-transform: rotateY(225.0deg) translateY( -750px) translateZ( 300px)
}


body.munsell #col006 {
    -webkit-transform: rotateY(270.0deg) translateY( -300px) translateZ( 200px)
}


body.munsell #col007 {
    -webkit-transform: rotateY(225.0deg) translateY( -700px) translateZ( 425px)
}


body.munsell #col008 {
    -webkit-transform: rotateY(270.0deg) translateY( -400px) translateZ( 500px)
}


body.munsell #col009 {
    -webkit-transform: rotateY(270.0deg) translateY( -650px) translateZ( 500px)
}


body.munsell #col010 {
    -webkit-transform: rotateY(270.0deg) translateY( -500px) translateZ( 500px)
}


body.munsell #col011 {
    -webkit-transform: rotateY(225.0deg) translateY( -500px) translateZ( 600px)
}


body.munsell #col012 {
    -webkit-transform: rotateY(270.0deg) translateY( -900px) translateZ( 100px)
}


body.munsell #col013 {
    -webkit-transform: rotateY(288.0deg) translateY( -550px) translateZ( 150px)
}


body.munsell #col014 {
    -webkit-transform: rotateY(279.0deg) translateY( -450px) translateZ( 700px)
}


body.munsell #col015 {
    -webkit-transform: rotateY(279.0deg) translateY( -400px) translateZ( 500px)
}


body.munsell #col016 {
    -webkit-transform: rotateY(280.8deg) translateY( -400px) translateZ( 700px)
}


body.munsell #col017 {
    -webkit-transform: rotateY(279.0deg) translateY( -750px) translateZ( 300px)
}


body.munsell #col018 {
    -webkit-transform: rotateY(279.0deg) translateY( -550px) translateZ( 350px)
}


body.munsell #col019 {
    -webkit-transform: rotateY(279.0deg) translateY( -400px) translateZ( 250px)
}


body.munsell #col020 {
    -webkit-transform: rotateY(279.0deg) translateY( -650px) translateZ( 100px)
}


body.munsell #col021 {
    -webkit-transform: rotateY(288.0deg) translateY( -650px) translateZ( 500px)
}


body.munsell #col022 {
    -webkit-transform: rotateY(279.0deg) translateY( -300px) translateZ( 300px)
}


body.munsell #col023 {
    -webkit-transform: rotateY(279.0deg) translateY( -500px) translateZ( 300px)
}


body.munsell #col024 {
    -webkit-transform: rotateY(279.0deg) translateY( -450px) translateZ( 650px)
}


body.munsell #col025 {
    -webkit-transform: rotateY(279.0deg) translateY( -350px) translateZ( 500px)
}


body.munsell #col026 {
    -webkit-transform: rotateY(279.0deg) translateY( -750px) translateZ( 100px)
}


body.munsell #col027 {
    -webkit-transform: rotateY(293.4deg) translateY( -400px) translateZ( 350px)
}


body.munsell #col028 {
    -webkit-transform: rotateY(291.6deg) translateY( -300px) translateZ( 225px)
}


body.munsell #col029 {
    -webkit-transform: rotateY(291.6deg) translateY( -450px) translateZ( 600px)
}


body.munsell #col030 {
    -webkit-transform: rotateY(297.0deg) translateY( -200px) translateZ( 100px)
}


body.munsell #col031 {
    -webkit-transform: rotateY(297.0deg) translateY( -400px) translateZ( 400px)
}


body.munsell #col032 {
    -webkit-transform: rotateY(297.0deg) translateY( -700px) translateZ( 400px)
}


body.munsell #col033 {
    -webkit-transform: rotateY(297.0deg) translateY( -400px) translateZ( 500px)
}


body.munsell #col034 {
    -webkit-transform: rotateY(279.0deg) translateY( -600px) translateZ( 225px)
}


body.munsell #col035 {
    -webkit-transform: rotateY(297.0deg) translateY( -650px) translateZ( 500px)
}


body.munsell #col036 {
    -webkit-transform: rotateY(297.0deg) translateY( -350px) translateZ( 250px)
}


body.munsell #col037 {
    -webkit-transform: rotateY(297.0deg) translateY( -500px) translateZ( 700px)
}


body.munsell #col038 {
    -webkit-transform: rotateY(297.0deg) translateY( -500px) translateZ( 600px)
}


body.munsell #col039 {
    -webkit-transform: rotateY(297.0deg) translateY( -500px) translateZ( 350px)
}


body.munsell #col040 {
    -webkit-transform: rotateY(302.4deg) translateY( -350px) translateZ( 300px)
}


body.munsell #col041 {
    -webkit-transform: rotateY(297.0deg) translateY( -450px) translateZ( 300px)
}


body.munsell #col042 {
    -webkit-transform: rotateY(300.6deg) translateY( -500px) translateZ( 600px)
}


body.munsell #col043 {
    -webkit-transform: rotateY(306.0deg) translateY( -250px) translateZ( 200px)
}


body.munsell #col044 {
    -webkit-transform: rotateY(300.6deg) translateY( -600px) translateZ( 600px)
}


body.munsell #col045 {
    -webkit-transform: rotateY(306.0deg) translateY( -300px) translateZ( 250px)
}


body.munsell #col046 {
    -webkit-transform: rotateY(300.6deg) translateY( -400px) translateZ( 400px)
}


body.munsell #col047 {
    -webkit-transform: rotateY(300.6deg) translateY( -550px) translateZ( 500px)
}


body.munsell #col048 {
    -webkit-transform: rotateY(300.6deg) translateY( -450px) translateZ( 400px)
}


body.munsell #col049 {
    -webkit-transform: rotateY(306.0deg) translateY( -700px) translateZ( 450px)
}


body.munsell #col050 {
    -webkit-transform: rotateY(306.0deg) translateY( -300px) translateZ( 150px)
}


body.munsell #col051 {
    -webkit-transform: rotateY(306.0deg) translateY( -550px) translateZ( 300px)
}


body.munsell #col052 {
    -webkit-transform: rotateY(306.0deg) translateY( -700px) translateZ( 300px)
}


body.munsell #col053 {
    -webkit-transform: rotateY(306.0deg) translateY( -600px) translateZ( 700px)
}


body.munsell #col054 {
    -webkit-transform: rotateY(306.0deg) translateY( -600px) translateZ( 500px)
}


body.munsell #col055 {
    -webkit-transform: rotateY(306.0deg) translateY( -600px) translateZ( 350px)
}


body.munsell #col056 {
    -webkit-transform: rotateY(306.0deg) translateY( -500px) translateZ( 400px)
}


body.munsell #col057 {
    -webkit-transform: rotateY(311.4deg) translateY( -200px) translateZ( 100px)
}


body.munsell #col058 {
    -webkit-transform: rotateY(306.0deg) translateY( -700px) translateZ( 350px)
}


body.munsell #col059 {
    -webkit-transform: rotateY(306.0deg) translateY( -450px) translateZ( 250px)
}


body.munsell #col060 {
    -webkit-transform: rotateY(306.0deg) translateY( -750px) translateZ( 300px)
}


body.munsell #col061 {
    -webkit-transform: rotateY(306.0deg) translateY( -500px) translateZ( 250px)
}


body.munsell #col062 {
    -webkit-transform: rotateY(311.4deg) translateY( -500px) translateZ( 450px)
}


body.munsell #col063 {
    -webkit-transform: rotateY(315.0deg) translateY( -700px) translateZ( 400px)
}


body.munsell #col064 {
    -webkit-transform: rotateY(311.4deg) translateY( -600px) translateZ( 100px)
}


body.munsell #col065 {
    -webkit-transform: rotateY(316.8deg) translateY( -500px) translateZ( 300px)
}


body.munsell #col066 {
    -webkit-transform: rotateY(316.8deg) translateY( -700px) translateZ( 350px)
}


body.munsell #col067 {
    -webkit-transform: rotateY(311.4deg) translateY( -300px) translateZ( 200px)
}


body.munsell #col068 {
    -webkit-transform: rotateY(324.0deg) translateY( -600px) translateZ( 325px)
}


body.munsell #col069 {
    -webkit-transform: rotateY(318.6deg) translateY( -500px) translateZ( 250px)
}


body.munsell #col070 {
    -webkit-transform: rotateY(318.6deg) translateY( -750px) translateZ( 250px)
}


body.munsell #col071 {
    -webkit-transform: rotateY(318.6deg) translateY( -450px) translateZ( 200px)
}


body.munsell #col072 {
    -webkit-transform: rotateY(324.0deg) translateY( -750px) translateZ( 550px)
}


body.munsell #col073 {
    -webkit-transform: rotateY(324.0deg) translateY( -800px) translateZ( 300px)
}


body.munsell #col074 {
    -webkit-transform: rotateY(324.0deg) translateY( -700px) translateZ( 500px)
}


body.munsell #col075 {
    -webkit-transform: rotateY(324.0deg) translateY( -750px) translateZ( 350px)
}


body.munsell #col076 {
    -webkit-transform: rotateY(318.6deg) translateY( -550px) translateZ( 300px)
}


body.munsell #col077 {
    -webkit-transform: rotateY(329.4deg) translateY( -500px) translateZ( 200px)
}


body.munsell #col078 {
    -webkit-transform: rotateY(329.4deg) translateY( -200px) translateZ( 50px)
}


body.munsell #col079 {
    -webkit-transform: rotateY(333.0deg) translateY( -600px) translateZ( 450px)
}


body.munsell #col080 {
    -webkit-transform: rotateY(329.4deg) translateY( -800px) translateZ( 250px)
}


body.munsell #col081 {
    -webkit-transform: rotateY(333.0deg) translateY( -400px) translateZ( 150px)
}


body.munsell #col082 {
    -webkit-transform: rotateY(333.0deg) translateY( -550px) translateZ( 300px)
}


body.munsell #col083 {
    -webkit-transform: rotateY(333.0deg) translateY( -500px) translateZ( 200px)
}


body.munsell #col084 {
    -webkit-transform: rotateY(333.0deg) translateY( -650px) translateZ( 400px)
}


body.munsell #col085 {
    -webkit-transform: rotateY(333.0deg) translateY( -600px) translateZ( 425px)
}


body.munsell #col086 {
    -webkit-transform: rotateY(333.0deg) translateY( -500px) translateZ( 300px)
}


body.munsell #col087 {
    -webkit-transform: rotateY(334.8deg) translateY( -350px) translateZ( 125px)
}


body.munsell #col088 {
    -webkit-transform: rotateY(333.0deg) translateY( -800px) translateZ( 300px)
}


body.munsell #col089 {
    -webkit-transform: rotateY(338.4deg) translateY( -750px) translateZ( 200px)
}


body.munsell #col090 {
    -webkit-transform: rotateY(336.6deg) translateY( -450px) translateZ( 200px)
}


body.munsell #col091 {
    -webkit-transform: rotateY(336.6deg) translateY( -650px) translateZ( 225px)
}


body.munsell #col092 {
    -webkit-transform: rotateY(336.6deg) translateY( -700px) translateZ( 150px)
}


body.munsell #col093 {
    -webkit-transform: rotateY(342.0deg) translateY( -400px) translateZ( 200px)
}


body.munsell #col094 {
    -webkit-transform: rotateY(342.0deg) translateY( -600px) translateZ( 350px)
}


body.munsell #col095 {
    -webkit-transform: rotateY(347.4deg) translateY( -800px) translateZ( 650px)
}


body.munsell #col096 {
    -webkit-transform: rotateY(347.4deg) translateY( -650px) translateZ( 450px)
}


body.munsell #col097 {
    -webkit-transform: rotateY(347.4deg) translateY( -700px) translateZ( 500px)
}


body.munsell #col098 {
    -webkit-transform: rotateY(347.4deg) translateY( -650px) translateZ( 375px)
}


body.munsell #col099 {
    -webkit-transform: rotateY(347.4deg) translateY( -800px) translateZ( 500px)
}


body.munsell #col100 {
    -webkit-transform: rotateY(349.2deg) translateY( -750px) translateZ( 150px)
}


body.munsell #col101 {
    -webkit-transform: rotateY(349.2deg) translateY( -650px) translateZ( 275px)
}


body.munsell #col102 {
    -webkit-transform: rotateY(349.2deg) translateY( -800px) translateZ( 400px)
}


body.munsell #col103 {
    -webkit-transform: rotateY(351.0deg) translateY( -850px) translateZ( 400px)
}


body.munsell #col104 {
    -webkit-transform: rotateY(347.4deg) translateY( -500px) translateZ( 75px)
}


body.munsell #col105 {
    -webkit-transform: rotateY(351.0deg) translateY( -850px) translateZ( 50px)
}


body.munsell #col106 {
    -webkit-transform: rotateY(347.4deg) translateY( -850px) translateZ( 350px)
}


body.munsell #col107 {
    -webkit-transform: rotateY(351.0deg) translateY( -750px) translateZ( 350px)
}


body.munsell #col108 {
    -webkit-transform: rotateY(349.2deg) translateY( -850px) translateZ( 600px)
}


body.munsell #col109 {
    -webkit-transform: rotateY(351.0deg) translateY( -850px) translateZ( 400px)
}


body.munsell #col110 {
    -webkit-transform: rotateY(351.0deg) translateY( -750px) translateZ( 300px)
}


body.munsell #col111 {
    -webkit-transform: rotateY(352.8deg) translateY( -700px) translateZ( 150px)
}


body.munsell #col112 {
    -webkit-transform: rotateY(351.0deg) translateY( -500px) translateZ( 50px)
}


body.munsell #col113 {
    -webkit-transform: rotateY(351.0deg) translateY( -700px) translateZ( 50px)
}


body.munsell #col114 {
    -webkit-transform: rotateY(351.0deg) translateY( -550px) translateZ( 25px)
}


body.munsell #col115 {
    -webkit-transform: rotateY(351.0deg) translateY( -550px) translateZ( 50px)
}


body.munsell #col116 {
    -webkit-transform: rotateY(351.0deg) translateY( -450px) translateZ( 50px)
}


body.munsell #col117 {
    -webkit-transform: rotateY( 5.4deg) translateY( -600px) translateZ( 400px)
}


body.munsell #col118 {
    -webkit-transform: rotateY( 5.4deg) translateY( -400px) translateZ( 150px)
}


body.munsell #col119 {
    -webkit-transform: rotateY( 5.4deg) translateY( -550px) translateZ( 200px)
}


body.munsell #col120 {
    -webkit-transform: rotateY(354.6deg) translateY( -350px) translateZ( 50px)
}


body.munsell #col121 {
    -webkit-transform: rotateY( 7.2deg) translateY( -800px) translateZ( 400px)
}


body.munsell #col122 {
    -webkit-transform: rotateY( 7.2deg) translateY( -800px) translateZ( 450px)
}


body.munsell #col123 {
    -webkit-transform: rotateY( 9.0deg) translateY( -850px) translateZ( 450px)
}


body.munsell #col124 {
    -webkit-transform: rotateY( 9.0deg) translateY( -800px) translateZ( 125px)
}


body.munsell #col125 {
    -webkit-transform: rotateY( 9.0deg) translateY( -650px) translateZ( 300px)
}


body.munsell #col126 {
    -webkit-transform: rotateY( 18.0deg) translateY( -800px) translateZ( 550px)
}


body.munsell #col127 {
    -webkit-transform: rotateY( 18.0deg) translateY( -600px) translateZ( 250px)
}


body.munsell #col128 {
    -webkit-transform: rotateY( 14.4deg) translateY( -750px) translateZ( 450px)
}


body.munsell #col129 {
    -webkit-transform: rotateY( 18.0deg) translateY( -450px) translateZ( 150px)
}


body.munsell #col130 {
    -webkit-transform: rotateY( 23.4deg) translateY( -650px) translateZ( 200px)
}


body.munsell #col131 {
    -webkit-transform: rotateY( 25.2deg) translateY( -600px) translateZ( 250px)
}


body.munsell #col132 {
    -webkit-transform: rotateY( 23.4deg) translateY( -750px) translateZ( 150px)
}


body.munsell #col133 {
    -webkit-transform: rotateY( 23.4deg) translateY( -400px) translateZ( 100px)
}


body.munsell #col134 {
    -webkit-transform: rotateY( 23.4deg) translateY( -350px) translateZ( 75px)
}


body.munsell #col135 {
    -webkit-transform: rotateY( 27.0deg) translateY( -400px) translateZ( 150px)
}


body.munsell #col136 {
    -webkit-transform: rotateY( 27.0deg) translateY( -300px) translateZ( 50px)
}


body.munsell #col137 {
    -webkit-transform: rotateY( 36.0deg) translateY( -600px) translateZ( 125px)
}


body.munsell #col138 {
    -webkit-transform: rotateY( 41.4deg) translateY( -650px) translateZ( 425px)
}


body.munsell #col139 {
    -webkit-transform: rotateY( 48.6deg) translateY( -700px) translateZ( 250px)
}


body.munsell #col140 {
    -webkit-transform: rotateY( 48.6deg) translateY( -800px) translateZ( 100px)
}


body.munsell #col141 {
    -webkit-transform: rotateY( 36.0deg) translateY( -450px) translateZ( 50px)
}


body.munsell #col142 {
    -webkit-transform: rotateY( 48.6deg) translateY( -600px) translateZ( 425px)
}


body.munsell #col143 {
    -webkit-transform: rotateY( 48.6deg) translateY( -750px) translateZ( 375px)
}


body.munsell #col144 {
    -webkit-transform: rotateY( 45.0deg) translateY( -400px) translateZ( 75px)
}


body.munsell #col145 {
    -webkit-transform: rotateY( 48.6deg) translateY( -400px) translateZ( 150px)
}


body.munsell #col146 {
    -webkit-transform: rotateY( 48.6deg) translateY( -450px) translateZ( 150px)
}


body.munsell #col147 {
    -webkit-transform: rotateY( 63.0deg) translateY( -700px) translateZ( 150px)
}


body.munsell #col148 {
    -webkit-transform: rotateY( 63.0deg) translateY( -600px) translateZ( 50px)
}


body.munsell #col149 {
    -webkit-transform: rotateY( 64.8deg) translateY( -450px) translateZ( 350px)
}


body.munsell #col150 {
    -webkit-transform: rotateY( 63.0deg) translateY( -650px) translateZ( 250px)
}


body.munsell #col151 {
    -webkit-transform: rotateY( 63.0deg) translateY( -350px) translateZ( 125px)
}


body.munsell #col152 {
    -webkit-transform: rotateY( 66.6deg) translateY( -500px) translateZ( 300px)
}


body.munsell #col153 {
    -webkit-transform: rotateY( 72.0deg) translateY( -800px) translateZ( 150px)
}


body.munsell #col154 {
    -webkit-transform: rotateY( 63.0deg) translateY( -500px) translateZ( 100px)
}


body.munsell #col155 {
    -webkit-transform: rotateY( 72.0deg) translateY( -450px) translateZ( 200px)
}


body.munsell #col156 {
    -webkit-transform: rotateY( 72.0deg) translateY( -350px) translateZ( 75px)
}


body.munsell #col157 {
    -webkit-transform: rotateY( 72.0deg) translateY( -550px) translateZ( 300px)
}


body.munsell #col158 {
    -webkit-transform: rotateY( 72.0deg) translateY( -650px) translateZ( 75px)
}


body.munsell #col159 {
    -webkit-transform: rotateY( 82.8deg) translateY( -450px) translateZ( 400px)
}


body.munsell #col160 {
    -webkit-transform: rotateY( 86.4deg) translateY( -350px) translateZ( 200px)
}


body.munsell #col161 {
    -webkit-transform: rotateY( 90.0deg) translateY( -350px) translateZ( 150px)
}


body.munsell #col162 {
    -webkit-transform: rotateY( 90.0deg) translateY( -350px) translateZ( 100px)
}


body.munsell #col163 {
    -webkit-transform: rotateY( 99.0deg) translateY( -350px) translateZ( 100px)
}


body.munsell #col164 {
    -webkit-transform: rotateY(117.0deg) translateY( -350px) translateZ( 600px)
}


body.munsell #col165 {
    -webkit-transform: rotateY(115.2deg) translateY( -350px) translateZ( 150px)
}


body.munsell #col166 {
    -webkit-transform: rotateY(118.8deg) translateY( -350px) translateZ( 100px)
}


body.munsell #col167 {
    -webkit-transform: rotateY(115.2deg) translateY( -350px) translateZ( 200px)
}


body.munsell #col168 {
    -webkit-transform: rotateY(117.0deg) translateY( -350px) translateZ( 225px)
}


body.munsell #col169 {
    -webkit-transform: rotateY(118.8deg) translateY( -350px) translateZ( 75px)
}


body.munsell #col170 {
    -webkit-transform: rotateY(126.0deg) translateY( -300px) translateZ( 150px)
}


body.munsell #col171 {
    -webkit-transform: rotateY(136.8deg) translateY( -700px) translateZ( 225px)
}


body.munsell #col172 {
    -webkit-transform: rotateY(126.0deg) translateY( -400px) translateZ( 150px)
}


body.munsell #col173 {
    -webkit-transform: rotateY(144.0deg) translateY( -850px) translateZ( 100px)
}


body.munsell #col174 {
    -webkit-transform: rotateY(135.0deg) translateY( -600px) translateZ( 100px)
}


body.munsell #col175 {
    -webkit-transform: rotateY(138.6deg) translateY( -600px) translateZ( 150px)
}


body.munsell #col176 {
    -webkit-transform: rotateY(138.6deg) translateY( -750px) translateZ( 200px)
}


body.munsell #col177 {
    -webkit-transform: rotateY(144.0deg) translateY( -650px) translateZ( 325px)
}


body.munsell #col178 {
    -webkit-transform: rotateY(144.0deg) translateY( -350px) translateZ( 100px)
}


body.munsell #col179 {
    -webkit-transform: rotateY(144.0deg) translateY( -350px) translateZ( 175px)
}


body.munsell #col180 {
    -webkit-transform: rotateY(144.0deg) translateY( -500px) translateZ( 400px)
}


body.munsell #col181 {
    -webkit-transform: rotateY(144.0deg) translateY( -450px) translateZ( 150px)
}


body.munsell #col182 {
    -webkit-transform: rotateY(135.0deg) translateY( -300px) translateZ( 100px)
}


body.munsell #col183 {
    -webkit-transform: rotateY(149.4deg) translateY( -500px) translateZ( 350px)
}


body.munsell #col184 {
    -webkit-transform: rotateY(144.0deg) translateY( -450px) translateZ( 25px)
}


body.munsell #col185 {
    -webkit-transform: rotateY(156.6deg) translateY( -500px) translateZ( 200px)
}


body.munsell #col186 {
    -webkit-transform: rotateY(162.0deg) translateY( -650px) translateZ( 400px)
}


body.munsell #col187 {
    -webkit-transform: rotateY(156.6deg) translateY( -400px) translateZ( 200px)
}


body.munsell #col188 {
    -webkit-transform: rotateY(153.0deg) translateY( -550px) translateZ( 350px)
}


body.munsell #col189 {
    -webkit-transform: rotateY(156.6deg) translateY( -400px) translateZ( 150px)
}


body.munsell #col190 {
    -webkit-transform: rotateY(156.6deg) translateY( -400px) translateZ( 350px)
}


body.munsell #col191 {
    -webkit-transform: rotateY(172.8deg) translateY( -700px) translateZ( 300px)
}


body.munsell #col192 {
    -webkit-transform: rotateY(169.2deg) translateY( -650px) translateZ( 400px)
}


body.munsell #col193 {
    -webkit-transform: rotateY(172.8deg) translateY( -500px) translateZ( 550px)
}


body.munsell #col194 {
    -webkit-transform: rotateY(162.0deg) translateY( -200px) translateZ( 25px)
}


body.munsell #col195 {
    -webkit-transform: rotateY(181.8deg) translateY( -200px) translateZ( 250px)
}


body.munsell #col196 {
    -webkit-transform: rotateY(181.8deg) translateY( -150px) translateZ( 150px)
}


body.munsell #col197 {
    -webkit-transform: rotateY(183.6deg) translateY( -400px) translateZ( 600px)
}


body.munsell #col198 {
    -webkit-transform: rotateY(183.6deg) translateY( -250px) translateZ( 350px)
}


body.munsell #col199 {
    -webkit-transform: rotateY(187.2deg) translateY( -600px) translateZ( 350px)
}


body.munsell #col200 {
    -webkit-transform: rotateY(192.6deg) translateY( -550px) translateZ( 250px)
}


body.munsell #col201 {
    -webkit-transform: rotateY(189.0deg) translateY( -150px) translateZ( 100px)
}


body.munsell #col202 {
    -webkit-transform: rotateY(183.6deg) translateY( -300px) translateZ( 600px)
}


body.munsell #col203 {
    -webkit-transform: rotateY(192.6deg) translateY( -450px) translateZ( 350px)
}


body.munsell #col204 {
    -webkit-transform: rotateY(187.2deg) translateY( -200px) translateZ( 400px)
}


body.munsell #col205 {
    -webkit-transform: rotateY(198.0deg) translateY( -600px) translateZ( 400px)
}


body.munsell #col206 {
    -webkit-transform: rotateY(198.0deg) translateY( -450px) translateZ( 300px)
}


body.munsell #col207 {
    -webkit-transform: rotateY(198.0deg) translateY( -600px) translateZ( 350px)
}


body.munsell #col208 {
    -webkit-transform: rotateY(203.4deg) translateY( -550px) translateZ( 500px)
}


body.munsell #col209 {
    -webkit-transform: rotateY(203.4deg) translateY( -400px) translateZ( 400px)
}


body.munsell #col210 {
    -webkit-transform: rotateY(207.0deg) translateY( -300px) translateZ( 400px)
}


body.munsell #col211 {
    -webkit-transform: rotateY(207.0deg) translateY( -300px) translateZ( 100px)
}


body.munsell #col212 {
    -webkit-transform: rotateY(210.6deg) translateY( -650px) translateZ( 350px)
}


body.munsell #col213 {
    -webkit-transform: rotateY(210.6deg) translateY( -550px) translateZ( 400px)
}


body.munsell #col214 {
    -webkit-transform: rotateY(208.8deg) translateY( -350px) translateZ( 350px)
}


body.munsell #col215 {
    -webkit-transform: rotateY(207.0deg) translateY( -200px) translateZ( 100px)
}


body.munsell #col216 {
    -webkit-transform: rotateY(208.8deg) translateY( -250px) translateZ( 250px)
}


body.munsell #col217 {
    -webkit-transform: rotateY(212.4deg) translateY( -350px) translateZ( 300px)
}


body.munsell #col218 {
    -webkit-transform: rotateY(212.4deg) translateY( -300px) translateZ( 350px)
}


body.munsell #col219 {
    -webkit-transform: rotateY(221.4deg) translateY( -400px) translateZ( 500px)
}


body.munsell #col220 {
    -webkit-transform: rotateY(234.0deg) translateY( -350px) translateZ( 50px)
}


body.munsell #col221 {
    -webkit-transform: rotateY(225.0deg) translateY( -650px) translateZ( 350px)
}


body.munsell #col222 {
    -webkit-transform: rotateY(216.0deg) translateY( -150px) translateZ( 75px)
}


body.munsell #col223 {
    -webkit-transform: rotateY(225.0deg) translateY( -250px) translateZ( 125px)
}


body.munsell #col224 {
    -webkit-transform: rotateY(234.0deg) translateY( -400px) translateZ( 150px)
}


body.munsell #col225 {
    -webkit-transform: rotateY(234.0deg) translateY( -500px) translateZ( 75px)
}


body.munsell #col226 {
    -webkit-transform: rotateY(226.8deg) translateY( -250px) translateZ( 350px)
}


body.munsell #col227 {
    -webkit-transform: rotateY(234.0deg) translateY( -350px) translateZ( 400px)
}


body.munsell #col228 {
    -webkit-transform: rotateY(246.6deg) translateY( -450px) translateZ( 550px)
}


body.munsell #col229 {
    -webkit-transform: rotateY(248.4deg) translateY( -450px) translateZ( 350px)
}


body.munsell #col230 {
    -webkit-transform: rotateY(252.0deg) translateY( -250px) translateZ( 150px)
}


body.munsell #col231 {
    -webkit-transform: rotateY(259.2deg) translateY( -500px) translateZ( 650px)
}


body.munsell #col232 {
    -webkit-transform: rotateY(257.4deg) translateY( -300px) translateZ( 150px)
}


body.munsell #col233 {
    -webkit-transform: rotateY( 0deg) translateY( -950px) translateZ( 0px)
}


body.munsell #col234 {
    -webkit-transform: rotateY(351.0deg) translateY( -920px) translateZ( 25px)
}


body.munsell #col235 {
    -webkit-transform: rotateY( 0deg) translateY( -750px) translateZ( 0px)
}


body.munsell #col236 {
    -webkit-transform: rotateY(171.0deg) translateY( -650px) translateZ( 25px)
}


body.munsell #col237 {
    -webkit-transform: rotateY(171.0deg) translateY( -500px) translateZ( 100px)
}


body.munsell #col238 {
    -webkit-transform: rotateY( 0deg) translateY( -500px) translateZ( 0px)
}


body.munsell #col239 {
    -webkit-transform: rotateY( 0deg) translateY( -500px) translateZ( 0px)
}


body.munsell #col240 {
    -webkit-transform: rotateY( 84.6deg) translateY( -500px) translateZ( 50px)
}


body.munsell #col241 {
    -webkit-transform: rotateY( 0deg) translateY( -400px) translateZ( 0px)
}


body.munsell #col242 {
    -webkit-transform: rotateY(135.0deg) translateY( -400px) translateZ( 25px)
}


body.munsell #col243 {
    -webkit-transform: rotateY(252.0deg) translateY( -350px) translateZ( 25px)
}


body.munsell #col244 {
    -webkit-transform: rotateY(270.0deg) translateY( -300px) translateZ( 50px)
}


body.munsell #col245 {
    -webkit-transform: rotateY(171.0deg) translateY( -300px) translateZ( 25px)
}


body.munsell #col246 {
    -webkit-transform: rotateY(306.0deg) translateY( -250px) translateZ( 25px)
}


body.munsell #col247 {
    -webkit-transform: rotateY( 0deg) translateY( -250px) translateZ( 0px)
}


body.munsell #col248 {
    -webkit-transform: rotateY( 0deg) translateY( -200px) translateZ( 0px)
}


body.munsell #col249 {
    -webkit-transform: rotateY( 0deg) translateY( -100px) translateZ( 0px)
}


body.munsell #col250 {
    -webkit-transform: rotateY( 0deg) translateY( -150px) translateZ( 0px)
}